:root {
  --alabaster: #f9f9f9;
  --eggplant: #533b4d;
  --hot-pink: #f564a9;
  --persian-pink: #f88cc0;
  --primary: var(--hot-pink);
  --primary-highligth: var(--persian-pink);
  --primary-contrast: var(--alabaster);
  --secondary: var(--eggplant);
}

body {
  background-color: #f9f9f9;
}

.App-header {
  background-color: var(--secondary);
  color: var(--primary-contrast);
  padding: 1px 50px;
}

.App-main {
  display: flex;
}

.App-main-code {
  display: flex;
}

.App-main-code-options ul {
  list-style: none;
}

.App-main-code-options ul li {
  padding: 10px;
}

button {
  min-width: 100px;
  min-height: 30px;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  background-color: var(--primary);
  color: var(--primary-contrast);
}

button:hover {
  cursor: pointer;
  background-color: var(--primary-highligth);
}
